AUTH_USERS=
BACKEND_PORT=
DATABASE_URL=
JWT_EXPIRY_MINUTES=
JWT_SECRET=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
SERVER_HOST=
SERVER_PORT=
TELEGRAM_API_HASH=
TELEGRAM_API_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_HELPER_BOT_TOKENS=
TELEGRAM_STORAGE_CHANNEL_ID=
WEB_BASE_URL=
WEB_PORT=